<app-login-nav></app-login-nav>
<head>
  <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet'>

</head>
<body>

  <div class="container-fluid px-1 px-md-5 px-lg-1 mx-auto">
      <div class="card card0 border-0">
          <div class="row d-flex">
              <div class="col-lg-6">
                <a routerLink="" class="navbar-brand text-black">
                  <span style="font-weight:bold; font-size: 2em; margin: 100px;"></span> </a>
                  <div class="card1 pb-5">
                      <br><br> <br>
                      <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                          <img src="assets/SignInUPpage_Images/signLoginSide_logo.png" class="image" style="width:600px; height:350px">
                      </div>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="card2 card border-0 px-4 py-5">

                    <br><br>
                      <div class="row px-3 mb-4">

                          <b style="text-align:center">Sign In</b>
                      </div>
                      <div class="login">

                              <form [formGroup]="loginForm" (ngSubmit)="Login()">
                                  <div class="row px-3">
                                      <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>

                                      <input type="email" name="email" placeholder="Email" formControlName="email">
                                  </div>
                                  <div>
                                    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="text-danger">
                                      <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</div>
                                      <div *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email format</div>
                                    </div>
                                  </div>
                                  <br />
                                  <div class="row px-3">
                                      <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>

                                      <input type="password" name="pswd" placeholder="Password" formControlName="password">
                                  </div>
                                  <div>
                                    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
                                      <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</div>
                                      <div *ngIf="loginForm.controls['password'].errors?.['minlength']">Password must be at least 8 characters long</div>
                                    </div>
                                  </div>
                                  <br />
                                  <div class="row mb-3 px-3">

                                      <button class="btn btn-blue text-center">Login</button>
                                  </div>
                                  <div>
                                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                                  </div>
                              </form>

                      </div>
                      <div class="row mb-4 px-3">
                          <small class="font-weight-bold">If you don't have an account please <a routerLink="/signup" class="text-danger">Register</a></small>
                      </div>

                  </div>
              </div>
          </div>

      </div>
  </div>
</body>

<app-home-footer></app-home-footer>
